<h1>Welcome to <%= @post.author.name %>'s post</h1>

<section class="container">
    <div class="post">
        <h3><%= @post.title %> by <%= @post.author.name %></h3>
        <div class="counter">
            <span>Comments: <%= @post.comments_counter %>, </span>
            <span>Likes: <%= @post.likes_counter %> </span>
        </div>
        <p><%= @post.text %></p>
        <% if can?(:destroy, @post) %>
            <%= button_to 'Delete', user_post_path(user_id: @post.author.id, post_id: @post.id), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: "btn" %>
        <% end %>
    </div>
    <div class="comment">
        <% @post.comments.includes(:author).includes(:post).each do |comment| %>
            <p><%= comment.author.name %>: <%= comment.text %></p>
            <% if can?(:destroy, @comment) %>
                <%= button_to 'Delete', user_post_comment_path(user_id: @comment.author_id, post_id: @comment.post_id, id: @comment.id), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' } %>
            <% end %>
        <% end  %>
    </div>
    <%= link_to "Add a comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: "btn" %>
    <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |f| %>
        <%= f.submit "Like", class: "btn like" %>
    <% end %>
</section>
